<h3 class="lean mt-3">Administration</h3>

<hr>

<h5 class="lean">Users</h5>

<div class="col-md-12 col-sm-12 p-0">


  <div class="row">
    <div class="col">
      <div class="input-group mb-2 pull-right" style="width:250px;">
        <input class="form-control py-2 rounded-0 border-right-0 border" placeholder="example@domain.com" type="input">
        <span class="input-group-append">
          <div class="input-group-text rounded-0 border-left-0 bg-transparent"><i class="fas fa-search"></i></div>
        </span>
      </div>
    </div>
    <div class="col align-self-center text-right">
      <button class="btn btn-sm" data-toggle="modal" data-target="#create-new-user">Create new user</button>
    </div>
  </div>


  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Phone</th>
      <th scope="col">Verified</th>
      <th scope="col">Actions</th>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.verified == true ? 'Yes' : 'No'}}</td>
        <td>
          <button class="btn btn-sm pl-0 pr-0">View</button> |
          <button class="btn btn-sm pl-0 pr-0">Edit</button> |
          <button class="btn btn-sm pl-0 pr-0" style="color:red;" (click)="remove(user.username)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Create user modal start -->
<div class="modal fade" id="create-new-user" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create new user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body" [formGroup]="form">

        <div class="row">

          <div class="col-6">
            <small for="">Name</small>
            <div class="input-group mb-2">
              <input formControlName="name" class="form-control py-2 rounded-0 border" placeholder="Name" type="input">
            </div>
          </div>

          <div class="col-6">
            <small for="">Last name</small>
            <div class="input-group mb-2">
              <input formControlName="last_name" class="form-control py-2 rounded-0 border" placeholder="Last Name"
                type="text">
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-6">
            <small for="">Username</small>
            <div class="input-group mb-2">
              <input formControlName="username" class="form-control py-2 rounded-0 border"
                [ngClass]="{'is-valid':!form.controls.username.errors}" placeholder="Username" type="input"
                id="username">
            </div>
          </div>

          <div class="col-6">
            <small [ngClass]="{'text-danger':form.controls.password.errors}"
              for="">{{form.controls.password.errors ? '*Min length 6 characters' : 'Password'}}</small>
            <div class="input-group mb-2">
              <input formControlName="password" class="form-control py-2 rounded-0 border" placeholder="Password"
                type="Password" [ngClass]="{'is-invalid':form.controls.password.errors}">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <small [ngClass]="{'text-danger': exists}" for="">{{exists ? 'Email already in use': 'Email'}} </small>
            <div class="input-group mb-2">
              <input formControlName="email" class="form-control py-2 rounded-0 border"
                [ngClass]="{'is-invalid': exists}" placeholder="email@example.com" type="input" (keyup)="check()">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-6">
            <small [ngClass]="{'text-danger':form.controls.phone.errors}"
              for="">{{form.controls.phone.errors ? 'Required' : 'Phone'}}</small>
            <div class="input-group mb-3">
              <input formControlName="phone" class="form-control py-2 rounded-0 border" placeholder="Phone"
                type="number">
            </div>
          </div>

          <div class="col-6">
            <small for="">Role</small>
            <div class="input-group mb-3">
              <select class="custom-select rounded-0" id="inputGroupSelect02" formControlName="role">
                <option value="" selected></option>
                <option value="administrator">Administrator</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text rounded-0" for="inputGroupSelect02">Options</label>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm" [disabled]="!form.valid || exists">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Create user modal ends -->
